<h1>PRIVACY POLICY</h1>
<p>
The Stork Bot is a demo of assistive chatbot to help DHL customer with their shipment process.
</p>
<p>
The Stork Bot is just a prototype created and only running for #UNITEDBYHCL Hackathon competition, https://www.hackerearth.com/sprints/unitedbyhcl .
</p>
<p>
This Facebook Page and it's Chatbot does not share personal information with third parties and we don't store any information about your visit to this page and chat. We only use your name and shipment input via chat to calculate the shipment rates and resend all of those information back to you in the chat on the fly (we don't store any of it)
</p>
<p>
We are not responsible for republished page and chat from this Facebook Page and it's Chatbot on other websites without our permission.
</p>
<p>
This privacy policy is subject to change without notice and was last updated on July 20th, 2017. If you have any questions feel free to contact me directly here: thestorkbot@gmail.com.
<p>
</center>
