<h1>TERMS OF SERVICE</h1>
<p>
The Stork Bot is a demo of assistive chatbot to help DHL customer with their shipment process.
</p>
<p>
The Stork Bot is just a prototype created and only running for #UNITEDBYHCL Hackathon competition, https://www.hackerearth.com/sprints/unitedbyhcl .
</p>
<p>
This Facebook Page and it's Chatbot just a prototype demo and will be used during the competition time, from June to August 2017 and published for jury and team member only. Other than that, people still can use this Facebook Page and Chatbot for educational purpose / app demo / proof of concept only.
</p>
<p>
Most of the data is just a sample data/dummy, we are not responsible for republished page and chat from this Facebook Page and it's Chatbot on other websites without our permission.
</p>
<p>
This terms of service is subject to change without notice and was last updated on July 20th, 2017. If you have any questions feel free to contact me directly here: thestorkbot@gmail.com.
</p>
</center>
